<div id="pay-example">
  <div>Here is an example payment form, we will charge the card (auth + capture)</div>

  <form onsubmit="return false;">
      <div class="group" style="height: 200px;">
        <label>
          <span>Card</span>
          <div id="card-element" class="field">
            <div id="run-form"></div>
          </div>
        </label>
      </div>

      <button id="paybutton">Pay</button>

      <div class="outcome">
        <div class="success visible">
          Account Token:
        </div>
        </div>
    </form>
</div>

<script>
  (function() {
    console.log('initializing run...');

    var runner = new Runner();
    runner.init({
      element: '#run-form',
      publicKey: 'ZoLmnZrHMzbcR2uZeixvsCyZ',
      tokenizeAutomatically: true,
      inactivityto: 5000,
      css: 'input%7Bwidth%3A200px%3B%7D',
      useExpiry: true,
      useCvv: true,
      cardLabel: 'My card label',
      cvvLabel: 'My cvv label',
      expiryLabel: 'My expiry label',
    });

    var payButton = document.querySelector('#paybutton');

    document.querySelector('#paybutton').onclick = () => {
      var successElement = document.querySelector('.success');
      var form = document.querySelector('form');

      // Runner.js tokenizes raw data here and returns token in the response
      runner.tokenize((res) => {
        console.log(">>>>>", res)
        const accountToken = res.account_token
        successElement.innerText = `Account Token: ${accountToken || "Empty token"}`
      })
    };
  })();
</script>

